body {
  margin: 0;
  box-sizing: border-box;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 100%;

  /** FLEX */
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: row;
}