.popup {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
  /** FLEX */
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: white;

  /** ELEMENTS */
  &__overlay {
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 100vh;
    width: 100%;
    position: absolute;
  }
  &__main {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 30%;
    z-index: 1;
    background-color: white;
    padding: 10px;
    line-height: 1rem;
    transform: translateX(100%);

    /** FLEX */
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;

    /** ELEMENTS*/
    &__content {
      right: initial;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
      transform: translateX(0%);
      
      p {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 5px;
      }
      /** ELEMENTS */
      &__close-btn {
        border: .6px solid black;
        padding: 10px;
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;
        transition: .5s ease all;
        height: auto;
        width: auto;

        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
}